.btn-facebook,
.btn-facebook:hover,
.btn-facebookfocus,
.btn-facebook:active,
.btn-facebook:active:focus {
  color: #3b5998 !important;
}

.btn-twitter,
.btn-twitter:hover,
.btn-twitterfocus,
.btn-twitter:active,
.btn-twitter:active:focus {
  color: #55acee !important;
}

.btn-google,
.btn-google:hover,
.btn-googlefocus,
.btn-google:active,
.btn-google:active:focus {
  color: #dd4b39 !important;
}

.btn-github,
.btn-github:hover,
.btn-githubfocus,
.btn-github:active,
.btn-github:active:focus {
  color: #333333 !important;
}

.btn-linkedin,
.btn-linkedin:hover,
.btn-linkedinfocus,
.btn-linkedin:active,
.btn-linkedin:active:focus {
  color: #0077B5 !important;
}

.btn-neutral {
  background: #fff;
}

.btn-round {
  position: relative;
  width: 3.6rem;
  min-width: 3.6rem;
  height: 3.6rem;
  border-width: 1px;
  border-radius: 30px;
}

.btn-round .fab {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  line-height: 1.5626rem;
  width: 23px;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width              : 7px;
  height             : 2px;
  background-color   : transparent;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background         : rgba(10, 10, 10, 0.6);
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::selection {
  background : orange;
  color      : white;
}
.button-container form,
.button-container form div {
  display: inline;
}

.button-container button {
  display        : inline;
  vertical-align : middle;
}